*{
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img[alt~="easy"]{
height: 38rem;
width: 70rem;
}

img[alt~="medium"]{
    height: 38rem;
    width: 50rem;

}

img[alt~="hard"]{
    height: 20rem;
    width: 30rem;
    position: absolute;
    bottom: 11rem;

}

.ease{
    background-color: rgb(231, 230, 230);
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.med{
    background-color: rgb(177, 51, 51);
    display:flex;
    justify-content: center;
    align-items: center;
}

.hard{
    background-color: rgb(179, 207, 17);
    display: flex;
    justify-content: center; 
    align-items: center; 
}


